/* Color Scheme
/* Palette color codes */
/* Feel free to copy&paste color codes to your application */
/*
.primary-1 { background-color: #77933C }
.primary-2 { background-color: #5F6E3D }
.primary-3 { background-color: #476013 }
.primary-4 { background-color: #ACC970 }
.primary-5 { background-color: #B4C988 }

.complement-1 { background-color: #7D335E }
.complement-2 { background-color: #5E344C }
.complement-3 { background-color: #511136 }
.complement-4 { background-color: #BE6A9B }
.complement-5 { background-color: #BE80A4 }

new colors: #EF4035 #00853E #7AC142
*/
/* General styles */
body {
	color: #333;
	margin: 0;
	padding: 0;
	border: 0;
/* This removes the border around the viewport in old versions of IE */	width: 100%;
	min-width: 780px; /* Minimum width of layout - remove line if not required */ /* The min-width property does not work in old versions of Internet Explorer */
	font-family: "Segoe UI" , Verdana, Arial, Helv;
	font-size: 83%;
	text-align: center;
	background: #fff; /* url("Images/header-bg-5.jpg") repeat-x top left; */
}
form#container, form#aspnetForm {
	margin: 0 auto;
	max-width: 1100px;
	text-align: left;
}
a {
	color: #EF4035; /* #7D335E; */
}
a:hover {
	color: #462F3D; /* background: #77933c; */
}
h1, h2, h3 {
	margin: .5em 0 .2em 0;
	padding: 0;
}
h1 {
	color: #00853E; /* #4A5337; */
	font-size: 160%;
}
h1 a {
	color: #00853E;
    text-decoration: none;
}
h1 a:hover {
	color: #00853E;
    text-decoration: underline;
}
h2 {
    color: #7AC142; /* #77933c; */
	font-size: 133%;
}
h3 {
	font-size: 120%;
}
p {
	margin: .4em 0 .8em 0;
	padding: 0;
}
.holygrail .col1 ol {
    padding-left: 0;
    margin-left: 0;
}
.holygrail .col1 ol li {
    list-style-position: inside;
    text-indent: 1.5em;
    padding-bottom: .5em;
}
img {
	-ms-interpolation-mode: bicubic;
}
/* Header styles */
@media print 
{
    #header, .holygrail .col2, .holygrail .col3 {
        display: none;
    }

    .holygrail .col1 {
	    margin: 0;
        position: relative;
	    left: 200%;
	    overflow: hidden;
    }
    
    .holygrail .col1 h1 {
        page-break-before: always;
    }
}

#header {
    /* background-color: #E2F3FD; */
    background: url('Images/bg_bluegradient-tile.png') repeat-x left bottom;
	clear: both;
	float: left;
	height: 11em;
	width: 100%;
	position: relative;
	border-bottom: 4px solid #00853E; /* #77933c; */
}
#header p, #header h1, #header h2 {
	padding: .4em 15px 0 15px;
	margin: 0;
}
#header ul {
	clear: left;
	float: left;
	/* width: 100%; */
	list-style: none;
	margin: 10px 0 0 0;
	padding: 0 0 0 22em;
	position: absolute;
	bottom: 0;
}
#header ul li {
	/* display: inline; */
	list-style: none;
	margin: 0;
	padding: 0;
	
	float: left;
	position: relative;
}
#header ul li a {
	display: block;
	float: left;
	margin: 0 0 0 2px;
	padding: 3px 10px;
	text-align: center;
	background: transparent url('Images/nav-bg.png') repeat scroll left top;
	font-weight: bolder;
	border-left: 1px solid #00853E; /* #77933c; */
	border-right: 1px solid #00853E; /* #77933c; */
	border-top: 1px solid #00853E; /* #77933c; */
	color: #00853E; /* #4A5337; */
	text-decoration: none;
	position: relative;
	left: 15px;
	line-height: 1.3em;
}
#header ul li a:hover {
	background: #D8E47E; /* #77933c; */
	color: #000;
}
#header ul li a.active, #header ul li a.active:hover {
	color: #fff;
	background: #00853E; /* #77933c; */
	font-weight: bold;
}
#header ul li a span {
	display: block;
}
/* 'widths' sub menu */
#layoutdims {
	clear: both;
	background: #eee;
	border-top: 4px solid #000;
	margin: 0;
	padding: 6px 15px !important;
	text-align: right;
}
/* column container */
.colmask {
	background-color: Transparent; /* border-right: 1px solid #77933c; */
	margin-top: 16px;
	position: relative; /* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
	clear: both;
	float: left;
	width: 100%; /* width of whole page */
	overflow: hidden; /* This chops off any overhanging divs */
}
/* holy grail 3 column settings */
.holygrail {
	background: inherit; /* Right column background colour */
}
.holygrail .colmid {
	float: left;
	width: 200%;
	margin-left: -20em; /* Width of right column */
	position: relative;
	right: 100%;
	background: inherit; /* Centre column background colour */
}
.holygrail .colleft {
	float: left;
	width: 100%;
	margin-left: -50%;
	position: relative;
	left: 32em; /* Left column width + right column width */
	background-color: Transparent; /* C6D45E 77933c left column background colour */
}
.holygrail .col1wrap {
	float: left;
	width: 50%;
	position: relative;
	right: 12em; /* Width of left column */
	padding-bottom: 1em; /* Centre column bottom padding. Leave it out if it's zero */
}
@media screen {
    .holygrail .col1 {
	    margin: 0 21.5em 0 14.5em;
    /* Centre column side padding:
    Left padding = left column width + centre column left padding width
    Right padding = right column width + centre column right padding width */	
        position: relative;
	    left: 200%;
	    overflow: hidden;
    }
}
.holygrail .col1 img {
    border: solid 1px #C4E08A;
    padding: 4px;
}
.holygrail .col1 h1 {
    clear: both;
	margin: 1.5em 0 0em 0;
}
.holygrail .col1 h1:first-child {
    margin: .5em 0 0em 0;
}
.holygrail .col1 dd 
{
    margin-bottom: 1em;
}
.holygrail .col1 ul li {
    margin-bottom: .5em;
}
.holygrail .col1 p.vcard {
	color: #999;
	font-size: 87%;
	margin: 0 0 1em 0;
}
.holygrail .col2 {
	color: #00853E; /* #77933c; */
	text-align: center;
	float: left;
	float: right; /* This overrides the float:left above */
	width: 9.8em; /* Width of left column content (left column width minus left and right padding) */
	position: relative;
	right: 1em; /* Width of the left-had side padding on the left column */
}
.bottomBorder {
	border-bottom: solid 1px #EF4035; /* #D9ABC6; */
	padding-bottom: 1.5em;
	margin-bottom: 1.5em;
}
.topBorder {
	border-top: solid 1px #EF4035; /* #D9ABC6; */
	padding-top: 1.5em;
	margin-top: 1.5em;
}
.hr {
	padding: 0;
	margin: 1.5em 0;
	height: 1;
	border-top: solid 1px #EF4035; /* #D9ABC6; */
}
.holygrail .col2 img {
    border: 0;
}
.holygrail .col2 hr {
    border: 0px;
    color: #EF4035; /* #D9ABC6; */
    background-color: #EF4035; /* #D9ABC6; */
    margin: 1.5em auto;
    padding: 0;
    height: 1px;
	width: 75%;
}
.holygrail .col3 {
	float: left;
	float: right; /* This overrides the float:left above */
	width: 18em; /* Width of right column content (right column width minus left and right padding) */
	margin-right: 3em; /* Width of right column right-hand padding + left column left and right padding */
	position: relative;
	left: 50%;
}
.holygrail .col3 h2 {
}
.holygrail .col3 h2:first-child {
	margin-top: .8em;
}
.holygrail .col3 hr {
    border: 0px;
    color: #EF4035; /* #D9ABC6; */
    background-color: #EF4035; /* #D9ABC6; */
    margin: 1.5em 0;
    text-align: left;
    height: 1px;
	width: 66%;
}
/* Footer styles */
#footer {
	clear: both;
	float: left;
	margin: 1.5em 0 0 0;
	padding: .5em 0;
	width: 100%;
	border-top: solid 1px #00853E; /* #77933c; */
}
#footer p {
    padding: 0 .5em;
}
.weather {
	padding-bottom: .5em;
}
.weather a img {
}
.weather label {
}
.weather th 
{
    font-weight: normal;
    padding-bottom: 1em;
}
.weather td 
{
	margin: 0;
}
.weather td.forecast_day {
	text-align: left;
	vertical-align: bottom;
}
.weather td.temperatures 
{
    padding-bottom: .5em;
    text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}
.weather span.highonly {
	font-size: 200%;
	font-weight: bold;
}
.weather span.high {
	font-size: 150%;
	font-weight: bold;
    vertical-align: super;
}
.weather span.low {
	color: #7AC142; /* #6699FF; */
	font-size: 120%;
    font-weight: bold;
    vertical-align: sub;
    margin-left:-.5em;
}
img#logo {
	margin: 1.25em 0 .5em 0;
	width: 100%;
}
div#pipe h4
{
    font-size: 100%;
    font-weight: normal;
    margin-bottom: .25em;
    margin-top: .5em;
}
div#pipe p
{
    font-size: 85%;
    margin-top: 0;
    padding-left: 2em;
}
fieldset{
    /*
    background-color:#E2F3FD;
    border: solid 1px #C3D0D8;
    padding: 1em 1.75em .5em 1.5em
    */
    border: 0;
    padding: 0;
}
fieldset label {
    /* color: #273903; */
    cursor: pointer;
}
fieldset .sublabel {
    color: #999;
    font-size: 85%;
    font-weight: normal;
}
fieldset input, fieldset textarea {
	margin-top: .25em;
}
.radioButtons {
    font-weight: normal;
}
fieldset textarea {
    border: solid 1px #C3D0D8;
	font-family: "Segoe UI" , Verdana, Arial, Helv;
    width: 100%
}
fieldset input, fieldset select {
	font-family: "Segoe UI" , Verdana, Arial, Helv
}
fieldset input.email {
    border: solid 1px #C3D0D8;
}
fieldset input.submit {
    background-color: #00853E; /* #511136; */
    border: 0px;
    color: #fff;
    font-size: 120%;
    font-weight: bold;
    padding: .5em 1em;
}
fieldset h3 {
    border-top: solid 1px #C3D0D8;
    clear: both;
    color: #EF4035; /* #7D335E; */
    margin-top: 1.5em;
    padding-top: .5em; 
}
fieldset > h3:first-child {
    border-top: 0px;
    margin-top: 0;
    padding-top: 0;
}
div.geo {
    display: none
}
table#availability {
    border-collapse: collapse;
    margin-top: 2em;
}
table#availability tr td.available {
    background: url("Images/available.png") repeat-x center
}
table#availability tr td.current, table#availability tr th.current {
    background-color: #FFC; /* #ECDBE5 */
    border-right: solid 1px #EF4035; /* #B4C988; */
    border-left: solid 1px #EF4035; /* #B4C988; */
}
table#availability tr td.inseason {
    font-weight: bold
}
div.blogger-post-footer {
    display: none;
    visibility: hidden
}
div.col2 p.tagline {
    color: #EF4035; /* #7D335E; */
    font-size: 150%; 
    font-weight: bold; 
    line-height: 100%; 
    margin: .5em 0 0 0
}
div#mission {
    color: #444; 
    background-color: #FFFFCC; /* #E2F3FD; */
    /* border: solid 1px #DDD; */
    border-left: solid 5px #EF4035; /* #BE6A9B; */
    font-size: 125%;
	margin: 1em 0 1.5em 0; 
	padding: .8em 1.5em
}
input.searchBox {
    background-image: url("Images/google_custom_search_watermark.gif");
    background-position: center;
    background-repeat: no-repeat;
}
.siteSearch {
    margin: 1em 0;
}
a.feed {
    background: url("Images/feed.gif") no-repeat left;
    padding-left: 36px;
}
a.twitter img {
    margin-top: .75em;
    border: 0;
}
p.links {
    margin-top: 1em;
}
p.in_season span.new {
    color: #00853E; /* #4A5337; */
    font-weight: bold;
}
p.in_season span.ending {
    color: #999;
}
div.adr div.country-name {
	display: none;
	visibility: hidden;
}
dl#eventCalendar dt 
{
    font-weight: bolder;
}
dl#eventCalendar dd
{
    margin: 0;
    padding: 0 0 0 1em;
}
dl#eventCalendar dd abbr.dtstart
{
    font-size: 85%;
}
#fb-root 
{
    margin: 2em 0;
}
