<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.GData.AccessControl" version="1.8.0.0" />
  <package id="Google.GData.Client" version="1.8.0.0" />
  <package id="Google.GData.Extensions" version="1.8.0.0" />
  <package id="Google.GData.Calendar" version="1.8.0.0" />
  <package id="recaptcha" version="1.0.5.0" />
  <package id="microsoft-web-helpers" version="1.15" />
</packages>